#bw {
  filter: grayscale(100%);
}
#hudson {
  filter: sepia(0.25) contrast(1.2) brightness(1.2) saturate(1.05)
    hue-rotate(-15deg);

  &::before {
    background: radial-gradient(
      circle closest-corner,
      transparent 25%,
      rgba(25, 62, 167, 0.25) 100%
    );
    content: "";
    mix-blend-mode: multiply;
  }
}

#aden {
  filter: sepia(0.2) brightness(1.15) saturate(1.4);

  &::before {
    background: rgba(125, 105, 24, 0.1);
    content: "";
    mix-blend-mode: multiply;
  }
}

#brooklyn {
  filter: sepia(0.25) contrast(1.25) brightness(1.25) hue-rotate(5deg);

  &::before {
    background: rgba(127, 187, 227, 0.2);
    content: "";
    mix-blend-mode: overlay;
  }
}

#earlybird {
  filter: sepia(0.25) contrast(1.25) brightness(1.15) saturate(0.9)
    hue-rotate(-5deg);

  &::before {
    background: radial-gradient(
      circle closest-corner,
      transparent 0,
      rgba(125, 105, 24, 0.2) 100%
    );
    content: "";
    mix-blend-mode: multiply;
  }
}

#hefe {
  filter: sepia(0.4) contrast(1.5) brightness(1.2) saturate(1.4)
    hue-rotate(-10deg);

  &::before {
    background: radial-gradient(
      circle closest-corner,
      transparent 0,
      rgba(0, 0, 0, 0.25) 100%
    );
    content: "";
    mix-blend-mode: multiply;
  }
}

#lofi {
  filter: saturate(1.1) contrast(1.5);
}

#crema {
  filter: sepia(0.5) contrast(1.25) brightness(1.15) saturate(0.9)
    hue-rotate(-2deg);

  &::before {
    background: rgba(125, 105, 24, 0.2);
    content: "";
    mix-blend-mode: multiply;
  }
}

#nashville {
  filter: sepia(0.25) contrast(1.5) brightness(0.9) hue-rotate(-15deg);

  &::before {
    background: radial-gradient(
      circle closest-corner,
      rgba(128, 78, 15, 0.5) 0,
      rgba(128, 78, 15, 0.65) 100%
    );
    content: "";
    mix-blend-mode: screen;
  }
}
