.search_result {
  display: flex;
  background: transparent;
  width: 548px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
  padding: 0 1rem;
  .username {
    color: #fff;
    font-size: 14px;
    padding-bottom: 0.6rem;
  }

  &:hover {
    background: #3c3c3c;
    .select_btn {
      border: solid 1px #fff;
    }
  }
}

#active {
  background: #3c3c3c;
}

.select_btn {
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: transparent;
  border: solid 1px #3c3c3c;
  margin-left: auto;
  cursor: pointer;
  display: grid;
  place-items: center;
  span {
    width: 13px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #67b5fa;
    display: inline-block;
  }
}
