@use "../../StyleGuides" as guide;
.home {
  background: guide.$clr-primary;
  display: flex;
  max-height: 692px;
  overflow: hidden;
}

.main_section {
  width: 640px;
  margin-left: 7%;
  overflow: scroll;
}

.main_section::-webkit-scrollbar { 
  display: none; 
}

.suggestion_section {
  margin-top: 1.2rem;
  margin-left: 5%;
  padding: 1rem 0;
}

.suggestions {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    span {
      color: #737373;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
