@use "../../StyleGuides" as guide;

.aside {
  height: 692px;
  width: fit-content;
  padding: 0.7rem 0.4rem;
  border-right: solid 1px #262626;
}

.logo {
  margin: 0.7rem 0 0.7rem 0.9rem;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  a {
    text-decoration: none;
  }

  > li:last-child {
    margin-top: 5rem;
  }
}
