@use "../../../../StyleGuides" as guide;

.post {
  width: 466px;
  height: 646px;
  margin: 0 auto;
}
.img_wrapper {
  width: 100%;
  height: 466px;
  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.meta {
  color: #fff;
  padding: 0 0.6rem;
}

.likes {
  margin: 0.2rem 0;
  display: inline-block;
}
.user_caption {
  > span {
    font-weight: guide.$fw-bold;
  }
}

.comment {
  padding: 0.4rem 0.6rem;
  color: #737373;
}
