@use "../../../../StyleGuides" as guide;

.header {
  width: 466px;
  height: 56px;
  padding: 0.4rem 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.username {
  color: #fff;
  font-size: guide.$fs-heading2;
  font-family: guide.$fw-bold;
  cursor: pointer;
}

.date {
  color: #737373;
}
