@use "../../../../StyleGuides" as guide;

.message {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.4rem 0;
}

.text {
  width: fit-content;
  height: fit-content;
  color: #fff;
  padding: 0.6rem;
  border-radius: 100px;
  position: relative;
}

#my_message {
  background: guide.$clr-accent;
  margin-left: auto;
}

#contact_message {
  background: #262626;
  margin-right: auto;
}

.status {
  position: absolute;
  img {
    width: 15px;
    aspect-ratio: 1/1;
  }
  svg {
    font-size: 0.8rem;
    fill: #fff;
  }
}

#contact_status {
  left: 100%;
  bottom: -20%;
}

#my_status {
  bottom: -20%;
  right: -6%;
}
