/* Here are the style guides , colors , typography and pallettes */


$clr-primary : #000;
$clr-light-gray : #DBDBDB;
$clr-input-border : #DBDBDB;
$clr-accent: #67B5FA;
$clr-input-placeholder:#737373;
$bg-navigation-hover: #1A1A1A;
$bg-more-options-nav: #262626;
$bg-secondary-btn: #262626;
$bg-more-options-nav-hover: #3C3C3C;
$bg-input: #FAFAFA;
$gradiant-clr-red : #FF3A44;
$gradiant-clr-orange : #FF9C00;





$fs-heading1: 1rem;
$fw-extra-bold : 700;
$fs-heading2: 0.875rem;
$fw-bold : 600;
$fs-heading3: 0.75rem;





